<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951068973511-qedhhjgqkerce7m8dpqrbbvfodo6rf3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951068973511-qedhhjgqkerce7m8dpqrbbvfodo6rf3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDjxkzlWwgaopCPh7zxiybLdtDT7JoyUNk</string>
	<key>GCM_SENDER_ID</key>
	<string>951068973511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citytech.alrawabiappstore</string>
	<key>PROJECT_ID</key>
	<string>rawabifoods</string>
	<key>STORAGE_BUCKET</key>
	<string>rawabifoods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951068973511:ios:054cf7ecd7be967caf21e2</string>
</dict>
</plist>